@model AddLightViewModel
@{
    ViewData["Title"] = "Pridėti šviestuvą";
}



    <div class="text-center">
        <div>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddRoom">Pridėti patalpą</a></button>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddTrigger">Pridėti jungiklį</a></button>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddLight">Pridėti lempą</a></button>
        </div>
        <br />
        <div class="form-wrapper">
            <h1>@ViewBag.Title</h1>
            <div class="text-center">
                <span class="text-success">@ViewBag.Message</span>
            </div>
            @if (Model.Rooms.Count > 0)
            {
                <form method="post" asp-action="AddLight" asp-controller="Administrator">
                    <div class="center">
                        <label asp-for="TriggerId"></label>
                        <select name="TriggerId">
                            @foreach (var room in Model.Rooms)
                            {
                                foreach (var trigger in room.Triggers)
                                {
                                    <option value="@trigger.TriggerId">@room.RoomName / @trigger.TriggerName</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="center">
                        <label asp-for="ControllerPin"></label>
                        <input asp-for="ControllerPin" />
                        <span asp-validation-for="ControllerPin" class="text-danger"></span>
                    </div>
                    <div class="center">
                        <input class="center" type="submit" value="Pridėti" />
                    </div>
                </form>
            }
            else
            {
                <h2>Nėra registruotų patalpų arba jungiklių duomenų bazėje, norint pridėti šviestuvą, reikia registruotos patalpos bei jungiklio</h2>
            }
        </div>
    </div>