@model AddLightViewModel
@{
    ViewData["Title"] = "Pridėti šviestuvą";
}



    <div class="text-center">
        <div>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddRoom">Pridėti patalpą</a></button>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddTrigger">Pridėti jungiklį</a></button>
            <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddLight">Pridėti lempą</a></button>
        </div>
        <br />
        <div class="form-wrapper">
            <h1>@ViewBag.Title</h1>
            <div class="text-center">
                <span class="text-success">@ViewBag.Message</span>
            </div>
            <form method="post" asp-action="AddLight" asp-controller="Administrator">
                <div>
                    <label asp-for="TriggerId"></label><br />
                    <select name="TriggerId">
                        @foreach (var room in Model.Rooms)
                        {
                            foreach (var trigger in room.Triggers)
                            {
                                <option value="@trigger.TriggerId">@room.RoomName / @trigger.TriggerName</option>
                            }
                        }
                    </select><br />
                </div>
                <div>
                    <label asp-for="ControllerPin"></label><br />
                    <input asp-for="ControllerPin" /><br />
                    <span asp-validation-for="ControllerPin" class="text-danger"></span><br />
                </div>
                <div class="text-center">
                    <input type="submit" value="Pridėti" />
                </div>
            </form>
        </div>
    </div>