@model LightsViewModel
@{
    ViewData["Title"] = "Index";
}
<h1>Šviesų valdymas</h1>
@if (Model.Lights.Count > 0)
{
    foreach (var room in Model.Rooms)
    {
        <div class="text-center">
            <div class="wrapper center-block">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading active" role="tab" id="@room.FloorNumber">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#s1" aria-expanded="true" aria-controls="@room.FloorNumber">
                                    @room.FloorNumber aukštas
                                </a>
                            </h4>
                        </div>
                        <div id="s1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@room.FloorNumber">
                            <div class="panel-body">
                                @foreach (var trigger in room.Triggers)
                                {
                                    <h5>@room.RoomName/@trigger.TriggerName jungiklis</h5>
                                    foreach (var light in trigger.Lights)
                                    {
                                        @if (light.CurrentState == LightState.Off)
                                        {
                                            <p>Šviesa išjungta</p>
                                            @Html.CheckBox("light")
                                            <form asp-controller="Worker" asp-action="TurnOnLight" method="post">
                                                <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                <input type="text" id="triggerName" name="triggerName" value="@trigger.TriggerName" hidden />
                                                <input type="text" id="roomName" name="roomName" value="@room.RoomName" hidden />
                                                <input type="text" id="floorNumber" name="floorNumber" value="@room.FloorNumber" hidden />
                                                <input type="submit" value="Įjungti" />
                                            </form>
                                        }
                                        @if (light.CurrentState == LightState.On)
                                        {
                                            <p>Šviesa įjungta</p>
                                            <form asp-controller="Worker" asp-action="TurnOnLight" method="post">
                                                <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                <input type="text" id="triggerName" name="triggerName" value="@trigger.TriggerName" hidden />
                                                <input type="text" id="roomName" name="roomName" value="@room.RoomName" hidden />
                                                <input type="text" id="floorNumber" name="floorNumber" value="@room.FloorNumber" hidden />
                                                <input type="submit" value="Įjungti" />
                                            </form>
                                        }
                                        @if (light.CurrentState == LightState.Burnt)
                                        {
                                            <p>Šviesa perdegusi</p>
                                        }
                                        @if (light.CurrentState == LightState.Blocked)
                                        {
                                            <p>Šviesa užblokuota</p>
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>
        </div>
    }
}
else
{
    <h2>Jūs neturite priskirtų šviestuvų</h2>
}
<script>
    $('.panel-collapse').on('show.bs.collapse', function () {
        $(this).siblings('.panel-heading').addClass('active');
    });

    $('.panel-collapse').on('hide.bs.collapse', function () {
        $(this).siblings('.panel-heading').removeClass('active');
    });
</script>

