@model LightsViewModel
@{
    ViewData["Title"] = "Apšvietimo valdymo sąsaja";
}
<style>

    p.inline {
        display: inline-block;
    }

    #roomSubmit !important {
        color: #000000;
        border: 2px solid black;
        margin: auto;
    }

    div.inline {
        display: inline-block;
        margin-right: 0px;
        width: 200px;
        height: 250px;
    }

    input.Off {
        border-radius: 50%;
        background-color: #FFFFFF;
        color: #000000;
        border: 2px solid black;
        margin: auto;
    }

    input.On {
        border-radius: 50%;
        background-color: #FFFF00;
        border: 2px solid black;
        color: #000000;
        margin: 10px 10px;
    }

    .Burnt {
        border-radius: 50%;
        background-color: #FF0000;
        border: 2px solid black;
        color: #000000;
        margin: 10px 10px;
    }

    .Blocked {
        border-radius: 50%;
        background-color: #808080;
        border: 2px solid black;
        color: #000000;
        margin: 10px 10px;
    }

    form {
        margin: auto;
    }
</style>
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h4>@ViewBag.Message</h4>
</div>
@if (User.IsInRole("Administrator"))
{
    <div>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddRoom">Pridėti patalpą</a></button>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddTrigger">Pridėti jungiklį</a></button>
        <button><a class="nav-link text-dark" asp-area="" asp-controller="Administrator" asp-action="AddLight">Pridėti lempą</a></button>
    </div>
    <br />
}
@if (Model.Lights.Count > 0)
{
    int roomPanelStartIdNumer = 1;
    string roomPanelId = $"s{roomPanelStartIdNumer}";
    <div>
        <form asp-controller="Worker" asp-action="Index" method="get">
            <p class="inline">
                Aukštas:<input type="number" name="floorNumber" style="display: inline-block; width: 10%;" value="" />
                Patalpos pavadinimas:<input type="text" name="roomName" style="display: inline-block; width: 20%;" />
                Rodyti tik:
                <select name="roomType" style="display: inline-block; width: 40%;">
                    <option value="Default">--Pasirinkite--</option>
                    <option value="On">Patalpas su įjungtomis lempomis</option>
                    <option value="Off">Patalpas su išjungtomis lempomis</option>
                    <option value="Burnt">Patalpas su perdegusiomis lempomis</option>
                </select>
                <div class="text-center" style="display: inline-block;">
                    <input type="submit" value="Filtruoti" />
                </div>
            </p>
        </form>
    </div>
    if (Model.Rooms.Count > 0)
    {
        for (int i = 0; i < Model.Rooms.Count; i++)
        {
            var room = Model.Rooms[i];
            var roomColor = "#FFFFFF";
            switch (Model.RoomAndState[room.RoomId])
            {
                case "On":
                    roomColor = "#FFFF00";
                    break;
                case "Off":
                    roomColor = "#FFFFFF";
                    break;
                case "Burnt":
                    roomColor = "#FF0000";
                    break;
            }
            <div class="text-center">
                <div class="wrapper center-block">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" border: 4px solid black;>
                        <div class="panel panel-default">
                            @if (i == 0 || Model.Rooms[i - 1].FloorNumber < room.FloorNumber)
                            {
                                <div class="row" style="background-color: #c7bfbf;">
                                    <div class="col-md-3">
                                        <h3>@room.FloorNumber aukštas</h3>
                                    </div>
                                    @*<div class="col-md-3">
                                            <button>Įjungti</button>
                                            <button>Išjungti</button>
                                        </div>*@
                                </div>
                            }
                            <br />
                            <div class="panel-heading active row" role="tab" style="border: 2px solid black;">
                                <div class="col-md-8" style="background-color: @roomColor;">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@roomPanelId" aria-expanded="true" aria-controls="@room.FloorNumber">
                                            Patalpa @room.RoomName
                                        </a>
                                    </h4>
                                </div>
                                <div class="col-md-3 center">
                                    <button onclick="turnOnRoom('@room.RoomId')">Įjungti</button>
                                    <button onclick="turnOffRoom('@room.RoomId')">Išjungti</button>
                                    <form id="on_@room.RoomId" asp-controller="Worker" asp-action="TurnOnRoom" method="post" hidden>
                                        <input type="text" id="roomId" name="roomId" value="@room.RoomId" hidden />
                                        <input id="roomSubmit" type="submit" value="Įjungti" hidden />
                                    </form>
                                    <form id="off_@room.RoomId" asp-controller="Worker" asp-action="TurnOffRoom" method="post" hidden>
                                        <input type="text" id="roomId" name="roomId" value="@room.RoomId" hidden />
                                        <input id="roomSubmit" type="submit" value="Išjungti" hidden />
                                    </form>
                                </div>
                            </div>
                            @foreach (var trigger in room.Triggers)
                            {
                                <div id="@roomPanelId" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@room.FloorNumber">
                                    <div class="panel-body">

                                        <h5>@trigger.TriggerName jungiklis</h5>
                                        <div>
                                            @foreach (var light in trigger.Lights)
                                            {
                                                <div class="col-md-6 inline container">
                                                    @if (light.CurrentState == LightState.Off)
                                                    {
                                                        <div class="row center">
                                                            <form asp-controller="Worker" asp-action="TurnOnLight" method="post">
                                                                <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                                <input type="number" name="brightness" value=100 hidden>
                                                                <input type="submit" class="Off" value="@light.ControllerPin" />
                                                            </form>
                                                        </div>
                                                        <div class="row center">
                                                            <input id="slide" type="range" min="0" max="100" step="1" value="0" onchange="postBrightness(this.value, '@light.LightId')" />
                                                            <form id="brightnessForm_@light.LightId" asp-controller="Worker" asp-action="TurnOnLight" method="post" hidden>
                                                                <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                                <input type="number" id="brightness_@light.LightId" name="brightness" value="" hidden>
                                                                <input type="submit" hidden />
                                                            </form>
                                                        </div>
                                                        <div class="row center">
                                                            <form asp-controller="Worker" asp-action="BlockLight" method="post">
                                                                <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                                <input type="submit" value="Blokuoti" />
                                                            </form>
                                                        </div>
                                                        if (User.IsInRole("Administrator"))
                                                        {
                                                            <div class="row center">
                                                                <form asp-controller="Administrator" asp-action="DeleteLight" method="post">
                                                                    <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                                    <input type="submit" value="Ištrinti" />
                                                                </form>
                                                            </div>
                                                        }
                                                    }
                                                    @if (light.CurrentState == LightState.On)
                                                    {

                                                        <div class="row center">
                                                            <form asp-controller="Worker" asp-action="TurnOffLight" method="post">
                                                                <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                                <input type="submit" class="On" value="@light.ControllerPin" />
                                                            </form>
                                                        </div>
                                                        <div class="row center">
                                                            <input id="slide" type="range" min="1" max="100" step="1" value="@light.CurrentBrightness" onchange="postBrightness(this.value, '@light.LightId')">
                                                            <form id="brightnessForm_@light.LightId" asp-controller="Worker" asp-action="TurnOnLight" method="post" hidden>
                                                                <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                                <input type="number" id="brightness_@light.LightId" name="brightness" value="" hidden>
                                                                <input type="submit" hidden />
                                                            </form>
                                                        </div>

                                                        <div class="row center">
                                                            <form asp-controller="Worker" asp-action="BlockLight" method="post">
                                                                <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                                <input type="submit" value="Blokuoti" />
                                                            </form>
                                                        </div>
                                                        @if (User.IsInRole("Administrator"))
                                                        {
                                                            <div class="row center">
                                                                <form asp-controller="Administrator" asp-action="DeleteLight" method="post">
                                                                    <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                                    <input type="submit" value="Ištrinti" />
                                                                </form>
                                                            </div>
                                                        }
                                                    }
                                                    @if (light.CurrentState == LightState.Burnt)
                                                    {
                                                        <div class="row center">
                                                            <button class="Burnt" disabled>@light.ControllerPin</button>
                                                        </div>
                                                    }
                                                    @if (light.CurrentState == LightState.Blocked)
                                                    {
                                                        <div class="row center">
                                                            <button class="Blocked" disabled>@light.ControllerPin</button>
                                                        </div>
                                                        if (User.IsInRole("Administrator"))
                                                        {
                                                            <div class="row center">
                                                                <form asp-controller="Administrator" asp-action="UnblockLight" method="post">
                                                                    <input type="text" id="lightId" name="lightId" value="@light.LightId" hidden />
                                                                    <input type="submit" value="Atblokuoti" />
                                                                </form>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                        </div>

                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <br />
            roomPanelStartIdNumer += 1;
            roomPanelId = $"s{roomPanelStartIdNumer}";
        }
    }
    else
    {
        <h2>Nėra patalpų, atitinkančių pasirinktus filtravimo kriterijus</h2>
    }

}
else
{
    <h2>Jūs neturite priskirtų šviestuvų</h2>
}
<script>
    function postBrightness(slideAmount, lightId) {
        var formId = "brightnessForm_".concat(lightId);
        var brightnessId = "brightness_".concat(lightId);
        var form = document.getElementById(formId);
        brightness = document.getElementById(brightnessId);
        brightness.value = slideAmount;
        form.submit();
        console.log("Done");
    }

    function AutoRefresh(t) {
        setTimeout("location.reload(true);", t);
    }

    function turnOnRoom(roomId) {
        var formId = "on_".concat(roomId);
        var form = document.getElementById(formId);
        form.submit();
        console.log(formId);
    }

    function turnOffRoom(roomId) {
        var formId = "off_".concat(roomId);
        var form = document.getElementById(formId);
        form.submit();
        console.log(formId);
    }

    $('.panel-collapse').on('show.bs.collapse', function () {
        $(this).siblings('.panel-heading').addClass('active');
    });

    $('.panel-collapse').on('hide.bs.collapse', function () {
        $(this).siblings('.panel-heading').removeClass('active');
    });
</script>

