@model GetEnergyUsageViewModel
@{
    ViewData["Title"] = "Elektros energijos sąnaudų užklausa";
}

    <h1>@ViewData["Title"]</h1>
    <div class="form-wrapper">
        @if (Model.Rooms.Count > 0)
        {
        <div class="text-center">
            <span class="text-danger">@ViewBag.Message</span>
        </div>
        <form method="post" asp-action="EnergyUsage" asp-controller="Operator">
            <div class="center">
                <label asp-for="RoomId"></label>
                <select asp-for="RoomId">
                    @foreach (var room in Model.Rooms)
                    {
                        <option value="@room.RoomId">@room.FloorNumber aukštas / patalpa @room.RoomName</option>
                    }
                </select>
            </div>
            <div class="center">
                <label asp-for="DateFrom"></label>
                <input id="dateFrom" asp-for="DateFrom" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="center">
                <label asp-for="DateTo"></label>
                <input id="dateTo" asp-for="DateTo" asp-format="{0:yyyy-MM-ddTHH:mm}"/>
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="center">
                <button type ="button" class="center" onclick="last5Minutes()">Paskutinės 5 minutės</button>
            </div>
            <div class="center">
                <input class="center" type="submit" value="Gauti duomenis" />
            </div>
        </form>
        }
        else
        {
            <h2>Nėra registruotų patalpų</h2>
        }
    </div>
<script>
    function last5Minutes() {
        var date = new Date(Date.now() + 3 * 3600000);
        var currentDate = date.toISOString();
        currentDate = currentDate.split('.')[0];
        var fiveMinutesAgoDate = new Date(date - 5 * 60000);
        fiveMinutesAgoDate = fiveMinutesAgoDate.toISOString().split('.')[0];
        document.getElementById('dateTo').value = `${currentDate.substring(0, currentDate.length - 3)}`;
        document.getElementById('dateFrom').value = `${fiveMinutesAgoDate.substring(0, fiveMinutesAgoDate.length - 3)}`;
    }
</script>
